@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --dark:#4b3e4d;
  --light:#fce3a5;
  --secondary:#d0668c;
  --third:#e1a29a;
  --forth:#f2b94c;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}


img {
	vertical-align: top;
}

body{
  font-family: "Noto Sans", sans-serif;
  background-color:var(--light);
}

.name, 
.titleAboutMe,
.titleStudy, 
.titleWork, 
.contacts{
 color:var(--dark);
 padding: 20px 0px;
}

body p{
  font-size: 18px;
  line-height: 30px;
}

.container {
  /* display: flex; */
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

header{
  color:var(--dark); 
  background-color:var(--third);
}
.titlePage {
  padding: 10px 30px;
  margin: 0 40px;
}
.name {
}
.information {
}
.infoAboutMe {
  display: flex;
  flex-direction: row;
}
.colInfo {
  padding: 30px;
  margin: 40px;
}

.colInfo img{
  border-radius: 5%;
}

.titleAboutMe {
}
.infoMe {
}
.aboutMe {
  background-color: var(--forth);
  padding:50px 30px;
}
.moreInfo {
  padding: 10px 20px;
  margin: 40px;
  background-color: var(--light);
  border: 5px solid var(--light);
  border-radius: 5px;
}
.infoAboutWork {
  margin: 20px 0;
}
.infoAboutDiplome {
  margin: 20px 0;
}
.studyAndWork {
  background-color: var(--secondary); 
  padding:30px;
  flex-direction: row;
}

.skils{
  display: flex;
  flex-direction: row;
  background-color: var(--light); 
  padding: 20px 20px;
  border: 5px dashed var(--dark);
  border-radius: 5px;
  margin: 40px;
}
.sAndW {
  flex-direction: row;
  margin: 20px;
}
.titleStudy {
}
.studyT {
}
.studyY {
}
.titleWork {
}
.workOne {
}

.carousel-container {
  display: flex;
  align-items: center;
  width: 600px; /* ширина карусели */
  overflow: hidden;
  margin: 20px auto;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 600px; /* ширина одного слайда */
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  font-size: 24px;
  border: 1px solid #999;
}


footer{
  background-color: var(--light);
  padding: 30px;
  margin: 40px;
}
.contact {
  float: left;
}
.contacts {
}
.github {
}
.telegram {
}
.email {
}
.contactImg {
  float:right;
  padding: 0px 20px 20px;
  
}

/* .contactImg img{
  width: 70%;
} */